.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0rem 1rem;
    max-width: 100%;
    border-top: 0.1rem white solid;
    border-bottom: 0.1rem white solid;
    padding: 0.5rem 0rem;
}

.sidebar-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: #1A1F37;
    border-radius: 5%;
    cursor: pointer;
}

.sidebar-button-text {
    color: white;
}