p {
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

.AnalysisPageContainer {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.AnalysisPageContainer-Left {
    width: 15%;
    height: 100%;
    background: linear-gradient(to bottom, #0E122A, #060B26);
}

.AnalysisPageContainer-Right {
    width: 85%;
    height: 100%;
 background: linear-gradient(to bottom right, #0F123B, #020515);
}

.APCL-Top{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.APCL-Bottom{
    width: 100%;
    height: 92%;
}

.APCR-Top{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: left;
    align-items: center;
}