p {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.HomePageContainer {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.HomePageContainer-Left {
    width: 15%;
    height: 100%;
    background: linear-gradient(to bottom, #0E122A, #060B26);
}

.HomePageContainer-Right {
    width: 85%;
    height: 100%;
    background: linear-gradient(to bottom right, #0F123B, #020515);
}

.HPCL-Top {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HPCL-Bottom{
    width: 100%;
    height: 92%;
}

.HPCR-Top {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: left;
    align-items: center;
}