.loginpage-container {
  height: 100vh;
  width: 100vw;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 50%;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  border-radius: 1rem;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.15),
    0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-container h1 {
  height: 25%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-container form {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form>div {
  flex: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-container input {
  width: 100%;
  padding: 0.75rem;
  border: 0.125rem solid #ddd;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

small {
  color: #666;
  margin-top: 20px;
  display: block;
}